body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f6f6;
}

nav {
    background-color: #a00202e8;
    padding: 0.5em 0;
    text-align: center;
}

nav a {
    color: #e0e0ea;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #e10f0f;
}

section {
    padding: 20px;
    text-align: left;
}

h1 {
    color: #e61717;
    font-size: 2.0em;
}

h2 {
    color: #e61717;
    font-size: 1.5em;
}

p {
    color: #555;
    font-size: 1.2em;
}





article {
    display: flex;
    flex-direction: row-reverse; /* Reverse the direction to place the image on the left */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Adjust as needed */
}
article div{
    width: 50%;
}
article div img {
    max-width: 100%; /* Make sure the image does not exceed the container width */
    margin-right: 20px; /* Adjust as needed to create space between the image and text */
}

article p {
    flex: 1; /* Allow the text to take remaining space */
}